name: Release
on:
  release:
    types: [published]

jobs:
  tag:
    name: Add/update 'latest' tag
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Run latest-tag
        uses: EndBug/latest-tag@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  docs:
    name: Update docs
    runs-on: ubuntu-18.04
    needs: tag

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Node 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - name: Install dependencies
        run: npm install

      - name: Build documentation
        run: npm run docs

      - name: Deploy documentation
        uses: dbots-pkg/action-docs@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish-npm:
    name: Publish on NPM
    runs-on: ubuntu-latest
    needs: docs

    steps:
      - uses: actions/checkout@v2

      - name: Set up Node.js for NPM
        uses: actions/setup-node@v1
        with:
          registry-url: 'https://registry.npmjs.org'

      - run: npm install
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  publish-gpr:
    name: Publish on GPR
    runs-on: ubuntu-latest
    needs: docs

    steps:
      - uses: actions/checkout@v2

      - name: Set up Node.js for GPR
        uses: actions/setup-node@v1
        with:
          registry-url: 'https://npm.pkg.github.com/'
          scope: '@snazzah'

      - run: npm install
      - run: npm run gpr
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
