name: Tests
on:
  push:
    branches:
      - "*"
      - "!docs"
    paths:
      - "src/**"
      - "test/**"
      - "package.json"
      - ".github/workflows/test.yml"
  pull_request:
    branches:
      - "*"
      - "!docs"
  workflow_dispatch:

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Node v16
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Install dependencies
        run: yarn

      - name: Run Tests
        run: yarn test
